@charset "utf-8";


$footer-background-color: #88bf8e;

@import "bulma/bulma";

body {
  height: 100%;
}
.blackName {
  color: black;
}
.redName {
  color: #c84013;
}
#projectName {
  padding-top: 50px;
  padding-left: 25px;
  padding-bottom: 50px;
  background-color: #88bf8e;
}
article {
  text-align: center;
}
p {
  text-align: center;
  padding: 20px 0;
}

